.bigtext{
  color: #FB5C5C;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
